<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafio 5 - EJS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark text-white">
    <div class="container">
      <h1 class="text-center mt-10">Ingrese Producto</h1>
      <form
        action="/productos"
        method="post"
        class="mx-auto"
        style="width: 80%"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Producto</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input type="number" class="form-control" id="price" name="price" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="thumbnail">Url de la Imagen</label>
          <input
            type="text"
            class="form-control"
            id="thumbnail"
            name="thumbnail"
          />
        </div>
        <button type="submit" class="btn btn-light">Enviar</button>
      </form>
    </div>
    <a
      href="/productos"
      class="btn btn-info d-block mx-auto"
      style="width: 200px"
      >Ver Productos</a
    >
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
