<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafio 5 - EJS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark text-white">
    <div class="container">
      <h1 class="text-center mt-10">Vista de Productos</h1>
      <% if (items.length) { %>
      <table
        class="table table-dark table-striped mx-auto"
        style="width: 900px; max-width: 90%"
      >
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Imágen</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(item => { return ( %>
          <tr>
            <td><%= item.title; %></td>
            <td>$<%= item.price; %></td>
            <td><img src="<%= item.thumbnail; %>" style="width: 30px" /></td>
          </tr>
          <% ))}); %>
        </tbody>
      </table>
      <% } else { %>
      <p>No hay productos</p>
      <% } %>
    </div>
    <a href="/" class="btn btn-info d-block mx-auto" style="width: 200px">
      Cargar un producto
    </a>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
